<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        ITSOL
                    </a>
                </li>
                <li>
                    <a href="#">
                        Design by taymtp :V
                    </a>
                </li>
                <li>
                    <a href="#">
                        fb
                    </a>
                </li>
                <li>
                    <a href="#">
                        zalo
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">ITSOl</a> for a better web.
        </div>
    </div>
</footer>
